{%extends "base.html" %}
{% load staticfiles %}
{% block head%}
<link  rel="stylesheet" href="{%  static 'css/terminos-y-condiciones.css' %}">
{% endblock%}
{% block body %}
<div class="col mt-3 animate__animated animate__fadeIn animate__fast">
	<h3 class="text-center mt-4 mb-3">Condiciones de uso</h3>
	<div class="shadow-lg p-3 mb-5 bg-white rounded">
		<ol class="mt-3">
			<li class="titulo">Descripcion</li>
			<p>
				<br>
				Job&Car SA (de aquí en adelante denominada “Job&Car”) ha desarrollado una plataforma de trayectos compartidos a la que se puede acceder desde el sitio web www.jobandcar.es, diseñada para poner en contacto a los conductores que viajan a un determinado destino con pasajeros que se dirigen al mismo lugar, de forma que puedan compartir el Trayecto así como los costes asociados al mismo (en adelante denominada la “Plataforma”).
				<br>
				Los presentes términos y condiciones tienen por objeto regular el acceso y los términos de uso de la Plataforma. Se ruega leer atentamente estas condiciones. Entiendes y reconoces que Job&Car no es parte en ningún contrato, acuerdo o relación contractual, de ninguna clase, suscrito entre los Usuarios de su Plataforma.
				<br>
				Al hacer clic en «Registrarse», reconoces que has leído y aceptado las presentes condiciones generales de uso.
			</p>
			<li class="titulo">Registro en la plataforma y creación de una cuenta</li>
			<br>
			<ol>
				<li>Condiciones de registro en la Plataforma</li>
				<p>La Plataforma solamente puede ser utilizada por personas mayores de 18 años. Está estrictamente prohibido el registro en la plataforma por parte de un menor. Al acceder, utilizar o registrarse en la Plataforma, confirmas y garantizas que tienes más de 18 años.</p>
				<li>Creación de una cuenta</li>
				<p>La Plataforma permite a los Usuarios publicar y ver Anuncios e interactuar entre ellos para reservar una Plaza. 
				Para crear tu Cuenta puedes rellenar todos los campos obligatorios en el formulario de registro;
				<br>
				Para registrarte en la Plataforma es necesario que hayas leído y aceptado las presentes Condiciones de Uso y la Política de privacidad.
				<br>
				Al crear tu Cuenta, te comprometes a proporcionar información verídica y precisa, y a actualizar dicha información por medio de tu perfil o enviando una notificación a Job&Car, con el objetivo de garantizar su relevancia y precisión durante la duración total de tu relación contractual con Job&Car.
				<br>
				En caso de que te registres utilizando un correo electrónico, te comprometes a guardar en secreto la contraseña seleccionada durante la creación de tu Cuenta y a no comunicársela a ninguna otra persona. En caso de pérdida o divulgación de tu contraseña, deberás comunicárselo a Job&Car inmediatamente. Tú eres el único responsable del uso de tu Cuenta por parte de terceras partes, salvo que hayas comunicado de forma expresa a Job&Car la pérdida, el uso fraudulento por parte de un tercero, o la revelación de tu contraseña a un tercero.
				<br>
				Recuerda no crear ni utilizar, bajo tu propia identidad o bajo la identidad de un tercero, ninguna Cuenta adicional a la creada inicialmente.
				</p>
			</ol>
			<li class="titulo">Utilización de los servicios</li>
			<br>
			<ol>
				<li>Publicación de anuncios</li>
				<p>
					Como Usuario, siempre y cuando cumplas las condiciones establecidas a continuación, podrás crear y publicar Anuncios en la Plataforma introduciendo información sobre el Trayecto que vas a realizar (fechas/horas/punto de recogida y llegada, número de plazas ofrecidas, cantidad de Costes compartidos, etc.).
					<br>
					Solamente podrás publicar un Anuncio si cumples todas y cada una de las condiciones indicadas a continuación:
					<br>
					<ul>
						<li>posees un carnet de conducir válido;</li>
						<li>publicas solamente Anuncios con vehículos de tu propiedad o utilizados con consentimiento expreso del propietario, y siempre y cuando estés autorizado para utilizar el vehículo con fines de desplazamiento compartido;</li>
						<li>eres y seguirás siendo el conductor principal del vehículo sujeto del Anuncio;</li>
						<li>el vehículo tiene un seguro a terceros en vigor;</li>
						<li>no tienes ninguna contraindicación ni incapacidad médica para conducir;</li>
						<li>el vehículo que vas a utilizar para el Trayecto es un turismo de 4 ruedas y un máximo de 7 asientos, excluyendo los conocidos como vehículos “sin carnet”.</li>
						<li>no tienes intención de publicar otro anuncio para el mismo Trayecto en la Plataforma;</li>
						<li>no ofreces más Plazas de las disponibles en tu vehículo y de las permitidas en la Plataforma;</li>
						<li>todos las Plazas ofertadas tienen cinturón de seguridad, incluso en el caso de que el vehículo esté homologado con asientos sin cinturón de seguridad;</li>
						<li>utilizas un vehículo en buen estado y que cumple con todas las normativas legales, y que el vehículo dispone del Certificado de ITV actualizado.</li>
					</ul>
					Reconoces que tú eres el único responsable del contenido del Anuncio que publicas en la Plataforma. Por lo tanto, reconoces y garantizas la veracidad y precisión de toda la información incluida en tu Anuncio, y te comprometes a realizar el Trayecto bajo las condiciones descritas en tu Anuncio.
					<br>
					Tu anuncio, siempre y cuando cumpla con los presentes CGU, será publicado en la Plataforma y por lo tanto podrá ser visto por todos los Usuarios
				</p>
				<li>Reservar una plaza</li>
				<p>
					BlaBlaCar ha establecido un sistema para la reserva de Plazas en línea (“Reserva”) para algunos de los Trayectos ofrecidos en la Plataforma.
					<br>
					Cuando un Pasajero esté interesado en un Anuncio con sistema de Reserva es aceptada automáticamente. En el momento de la Reserva, el Pasajero realiza el pago en línea por la cantidad de Costes compartidos y los Gastos de Gestión relacionadas, si procede. 
				</p>
			</ol>
			<li class="titulo">Condiciones financieras</li>
			<br>
			<p>El acceso y el registro en la Plataforma, así como la búsqueda, visualización y publicación de Anuncios, no implican coste alguno. No obstante, la Reserva se realizará tras el pago correspondiente de una tarifa, bajo las condiciones descritas a continuación.</p>
			<ol>
				<li>Costes compartidos</li>
				<p>Los Costes compartidos los determinas tú, como Conductor, bajo tu única responsabilidad. Está estrictamente prohibido obtener ningún tipo de beneficio mediante el uso de nuestra Plataforma. Por lo tanto, estás de acuerdo en limitar la Cantidad de costes compartidos solicitada a tus Pasajeros a los costes reales del trayecto que vas a compartir con los Pasajeros. De lo contrario, asumirás los riesgos de recalificación de la transacción realizada a través de la Plataforma.</p>
			</ol>
			<li class="titulo">Datos de carácter personal</li>
			<br>
			<p>
				En el contexto del uso de la Plataforma por tu parte, BlaBlaCar recopilará y procesará tu información personal. Al utilizar la Plataforma y registrarte como Usuario, reconoces y aceptas el procesamiento de tus datos personales por parte de BlaBlaCar de conformidad con la legislación aplicable y lo establecido en la Política de privacidad.
			</p>
		</ol>
	</div>
</div>
{% endblock%}